--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
torchtext==0.18.0
torchdata==0.7.1

Pillow==9.3.0
tqdm==4.66.1
